<% provide(:title, 'Edit this quiz') %>
<h1>Edit this quiz</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for("#{@quiz.id}") do |f| %>
        <%#= render 'shared/error_messages' %>

            <%= f.label :question %>
            <%= f.text_field :question, class: 'form-control' %>

            <%= f.label :answer %>
            <%= f.text_field :answer, class: 'form-control' %>

            <%= f.label :subject %>
            <%= f.text_field :subject.downcase, class: 'form-control'  %>
            <br><br>
            <%= f.submit "Add a question", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>
