<% provide(:title, 'Show the Quiz') %>

<%= "Quiz Id: #{@quiz.id}"  %>
<br>
<br>
<h3>Quiz Name: <%=@quiz.name%></h3>
<h3>Total Questions: <%=@quiz.questions.count%></h3>
<br>
<ol>
<% @quiz.questions.each do |q| %>

<li>
    <ul>

        <li><%= "Question: #{q.question}"%></li>

        <li><%= "Answer: #{q.answers}" %></li>

        <li><%= "Question Subject: #{q.subject}" %></li>
        <%= link_to 'Edit', question_path(q.id) %><br>
        <%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure you want to remove this question?' } %>
    </ul>
<br>
</li>
<% end %>
</ol>
<br>

<%# if current_user.id == @quiz.user_id %>

<%# end %>
