<% provide(:title, 'Show the Answer') %>

<% provide(:title, @answer_id) %>
    <div class="row">
        <aside class="col-md-12">
            <section class="user_info">
                <h1><%= gravatar_for @user %></h1><br>
                <h4><%= @user.name%></h4><br><br>
                <h3>Answer: </h3><%= @answer.answer_body %>

                <h3>Subject: </h3> <%= @answer.subject %>

            </section>
        </aside>
    </div>
    <% if current_user.id == @answer.user_id %>
      <%= link_to 'Edit', edit_answer_path(@answer) %><br>
      <%= link_to 'Destroy', @answer, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
<%#= link_to 'Back', posts_path %>
